.techs {
  background-color: #272727;
  padding: 100px 70px;
  margin: auto;
}
@media screen and (min-width: 767px) {
  .techs {
    padding: 88px 50px 90px 50px;
  }
}
@media screen and (max-width: 767px) {
  .techs {
    padding: 60px 18px 70px 18px;
  }
}

.techs__header {
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  line-height: 26.63px;
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #DADADA;
  letter-spacing: -1px;
}
@media screen and (min-width: 767px) {
  .techs__header {
    font-size: 22px;
    line-height: 26.63px;
    padding-bottom: 23px;
  }
}
@media screen and (max-width: 767px) {
  .techs__header {
    font-size: 18px;
    line-height: 21.78px;
    padding-bottom: 28px;
  }
}

.techs__description {
  margin: 90px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 767px) {
  .techs__description {
    margin: 80px auto 0 auto;
  }
}
@media screen and (max-width: 767px) {
  .techs__description {
    margin: 60px auto 0 auto;
  }
}

.techs__title {
  color: #ffffff;
  font-size: 50px;
  line-height: 58px;
  font-weight: 400;
  margin: 0 0 25px 0;
  text-align: center;
  letter-spacing: -2px;
}
@media screen and (min-width: 767px) {
  .techs__title {
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -1px;
    margin: 0 0 22px 0;
  }
}
@media screen and (max-width: 767px) {
  .techs__title {
    font-size: 30px;
    line-height: 36.31px;
    letter-spacing: -1px;
    margin: 0 0 24px 0;
  }
}

.techs__subtitle {
  color: #ffffff;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
  max-width: 500px;
  text-align: center;
  max-width: 460px;
}
@media screen and (min-width: 767px) {
  .techs__subtitle {
    font-size: 12px;
    line-height: 18px;
  }
}
@media screen and (max-width: 767px) {
  .techs__subtitle {
    font-size: 11px;
    line-height: 16px;
  }
}

.techs__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 100px 0 0 0;
}
@media screen and (min-width: 767px) {
  .techs__list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
    margin: 83px 0 0 0;
  }
}
@media screen and (max-width: 767px) {
  .techs__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    margin: 50px 0 0 0;
  }
}
@media screen and (max-width: 460px) {
  .techs__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    margin: 50px 0 0 0;
  }
}

.techs__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 60px;
  background-color: #303030;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #ffffff;
  margin: 0 10px 0 0;
}
@media screen and (max-width: 767px) {
  .techs__item {
    width: 84px;
    height: 57px;
    margin: 0;
    font-size: 12px;
    line-height: 14.52px;
  }
}

.techs__item:last-child {
  margin: 0;
}