.nav {
  display: flex;
  justify-content: center;
  background-color: #272727;
  padding: 9px 0;
  width: 100%;
}

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}
@media screen and (max-width: 426px) {
  .nav__list {
    justify-content: space-around;
    width: 100%;
  }
}

.nav__element {
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;
  margin: 0 40px 0 0;
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
}
.nav__element:last-child {
  margin: 0;
}
@media screen and (max-width: 426px) {
  .nav__element {
    font-size: 11px;
    line-height: 16px;
    margin: 0;
  }
}