.promo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 730px;
  position: relative;
  margin: 100px auto 122px auto;
}
@media screen and (min-width: 767px) {
  .promo {
    margin: 242px auto 240px auto;
  }
}
@media screen and (max-width: 426px) {
  .promo {
    margin: 160px auto 180px auto;
  }
}

.promo__header {
  position: absolute;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -2px;
  color: #ffffff;  
  text-align: center;
}
@media screen and (max-width: 767px) {
  .promo__header {
    font-size: 31px;
    line-height: 39px;
    letter-spacing: -1px;
  }
}
@media screen and (max-width: 426px) {
  .promo__header {
    max-width: 300px;
  }
}

@media screen and (max-width: 767px) {
  .promo__image {
    max-width: 248px;
  }
}