.about-me {
  background-color: #202020;
  padding: 110px 70px 100px 70px;
  margin: auto;
}
@media screen and (max-width: 767px) {
  .about-me {
    padding: 70px 14px 0 14px;
  }
}

.about-me__header {
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  line-height: 26,63px;
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #DADADA;
  letter-spacing: -1px;
}
@media screen and (max-width: 767px) {
  .about-me__header {
    font-size: 18px;
    line-height: 21.78px;
    padding-bottom: 28px;
  }
}

.about-me__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 66px 0 0 0;
}
@media screen and (max-width: 647px) {
  .about-me__description {
    flex-direction: column-reverse;
    justify-content: normal;
    margin: 60px 0 0 0;
  }
}

.about-me__column {
  max-width: 600px;
  margin-right: 30px;
}
@media screen and (min-width: 426px) and (max-width: 647  px) {
  .about-me__column {
    width: 80%
  }
}

.about-me__title {
  font-size: 50px;
  line-height: 58px;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .about-me__title {
    font-size: 30px;
    line-height: 36.31px;
    margin: 40px 0 0 0;
  }
}

.about-me__subtitle {
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  color: #ffffff;
  margin: 18px 0 26px 0;
}
@media screen and (max-width: 767px) {
  .about-me__subtitle {
    font-size: 11px;
    line-height: 16px;
    margin: 20px 0;
  }
}

.about-me__article {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  margin: 0 0 99px 0;
}
@media screen and (max-width: 767px) {
  .about-me__article {
    font-size: 11px;
    line-height: 16px;
    margin: 0 0 40px 0;
  }
}

.about-me__image {
  max-width: 270px;
  max-height: 327px;
  object-fit: cover;
  border-radius: 10px;
}
@media screen and (max-width: 767px) {
  .about-me__image {
    align-self: flex-start;
  }
}
@media screen and (max-width: 426px) {
  .about-me__image {
    max-width: 292px;
    max-height: 352px;
    width: 100%;
    align-self: center;
  }
}

.about-me__list-contact {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.about-me__link {
  color: #ffffff;
  text-decoration: none;
  margin-right: 20px;
}
@media screen and (max-width: 767px) {
  .about-me__link {
    margin-right: 26px;
    font-size: 14px;
    line-height: 16.94px;
    font-weight: 500;
  }
}

.about-me__link:last-child {
  margin-right: 0;
}